<!DOCTYPE html>
<html>
	<head>
		<title>Minecraft Server Log Statistics</title>

		<!--  jQuery -->
		<script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		
		<!-- jQuery tablesorter plugin -->
        <script src="//cdn.jsdelivr.net/tablesorter/2.17.3/js/jquery.tablesorter.min.js"></script>
		<link rel="stylesheet" href="//cdn.jsdelivr.net/tablesorter/2.17.3/addons/pager/jquery.tablesorter.pager.css">
		
		<style type="text/css">
		#player-stats td, #player-stats th {
			vertical-align: middle !important;
		}
		
		.avatar {
			width: 32px;
			height: 32px;
			margin-right: 8px;
		}
		</style>
		<script>
		var columns = [
			[".c-time-played", "Time played", true],
			[".c-logins", "Logins", false],
			[".c-login-time", "Time per login", false],
			[".c-first-login", "First login", false],
			[".c-last-login", "Last login", false],
			[".c-longest-session", "Longest session", false],
			[".c-deaths", "Deaths", false],
            [".c-ragequits", "Rage quits", false],
			[".c-achievements", "Achievements", false],
			[".c-active-days", "Active days", false],
			[".c-active-day-time", "Time per day", false],
			[".c-messages", "Messages sent", false],
			[".c-message-time", "Time per message", false]
		];

		function addPlaces() {
			$(".c-place").each(function(index) {
				$(this).text((index+1) + ".");
			});
		}
		
		var currentPage = "";
		function goToPage(page) {
			// make sure this page exists
			if ($("#" + page).length == 0)
				return false;
			// make sure we set this page only once (recursion because of changing hash)
			if (currentPage == page)
				return true;
			currentPage = page;
			window.location.hash = "#" + page.replace(/^page-/, "");
			
			// hide all pages except this one
			$(".page").hide();
			$("#" + page).show();

			// update the active/inactive links in the nav bar
			$(".js-link").parent().filter("li").removeClass("active");
			$(".js-link[data-page='" + page + "']").parent().filter("li").addClass("active");
			return true;
		}

		$(document).ready(function() {
			// try to go to page in the supplied url hash
			// first try players page in case of that supplied page doesn't exist
			var page = window.location.hash.substring(1);
			goToPage("page-players");
			if (page.length != 0)
				goToPage("page-" + page);

			// handler for links to pages
			$(".js-link").each(function() {
				$(this).click(function() {
					goToPage($(this).data("page"));
				});
			});
			
			// handler for url hash hange to update page
			$(window).bind("hashchange", function() {
				if (!goToPage("page-" + window.location.hash.substr(1)))
					goToPage("page-players");
			});
			
			addPlaces();

			columns.forEach(function(value, index, array) {
				var label = $("<label></label>").attr("class", "checkbox");
				var input = $("<input />").attr("type", "checkbox");
				input.change(function() {
					if(input.is(":checked"))
						$(value[0]).show();
					else
						$(value[0]).hide();
				});
				input.attr("checked", value[2]);
				if(!value[2])
					$(value[0]).hide();

				label.append(input);
				label.append(value[1]);
				$("#column-select").append(label);
			});

			$("#player-stats").tablesorter();
			$("#player-stats").bind("sortEnd", addPlaces);
		});
		</script>
	</head>

	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#players">Minecraft Server Log Statistics</a>
				</div>
				
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a class="js-link" data-page="page-players" href="#players">Players</a></li>
						<li><a class="js-link" data-page="page-server" href="#server">Server</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><span class="navbar-text navbar-right">Last update: {{ last_update }}</span></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			<div id="page-players" class="page row-fluid">
				<div id="column-select" class="col-md-2">
					<h4>Columns</h4>
				</div>

				<div class="col-md-10">
					<table id="player-stats" class="table table-striped table-bordered tablesorter">
						<thead>
							<tr>
								<th>#</th>
								<th>Username</th>
								<th class="col c-time-played">Time played</th>
								<th class="col c-logins">Logins</th>
								<th class="col c-login-time">Time per login</th>
								<th class="col c-first-login">First login</th>
								<th class="col c-last-login">Last login</th>
								<th class="col c-longest-session">Longest session</th>
								<th class="col c-deaths">Deaths</th>
                                <th class="col c-ragequits">Rage quits</th>
								<th class="col c-achievements">Achievements</th>
								<th class="col c-active-days">Active days</th>
								<th class="col c-active-day-time">Time per day</th>
								<th class="col c-messages">Messages sent</th>
								<th class="col c-message-time">Time per message</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
							<tr>
								<td class="c-place"></td>
								<td>
									<a class="js-link" data-page="page-players-{{ user.username }}" href="#players-{{ user.username }}">
										<img class="avatar" src="http://avatars.mapcrafter.org/head/{{ user.username }}/4" />{{ user.username }}
									</a>
								</td>
								<td class="col c-time-played">{{ user.time }}</td>
								<td class="col c-logins">{{ user.logins }}</td>
								<td class="col c-login-time">{{ user.time_per_login }}</td>
								<td class="col c-first-login">{{ user.first_login }}</td>
								<td class="col c-last-login">{{ user.last_login }}</td>
								<td class="col c-longest-session">{{ user.longest_session }}</td>
								<td class="col c-deaths">{{ user.death_count }}</td>
                                <td class="col c-ragequits">{{ user.ragequit_count }}</td>
								<td class="col c-achievements">{{ user.achievement_count }}</td>
								<td class="col c-active-days">{{ user.active_days }}</td>
								<td class="col c-active-day-time">{{ user.time_per_active_day }}</td>
								<td class="col c-messages">{{ user.messages }}</td>
								<td class="col c-message-time">{{ user.time_per_message }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div id="page-server" class="page row-fluid">
				<table class="table table-striped table-bordered">
					<tr>
						<th>Statistics since:</th>
						<td>{{ server.statistics_since }}</td>
					</tr>
					<tr>
						<th>Time played by all players:</th>
						<td>{{ server.time_played }}</td>
					</tr>
					<tr>
						<th>Total players:</th>
						<td>{{ users|length }}</td>
					</tr>
					<tr>
						<th>Maximum online players:</th>
						<td>{{ server.max_players }} ({{ server.max_players_date }})</td>
					</tr>
				</table>
			</div>
			{% for user in users %}
			<div id="page-players-{{ user.username }}" class="page page-player row-fluid">
				<div class="col-md-8">
					<h4>Player Statistics for {{user.username }}</h4>
					<table class="table table-striped table-bordered">
						<tr>
							<th>Time Played:</th>
							<td>{{ user.time }}</td>
						</tr>
						<tr>
							<th>Logins:</th>
							<td>{{ user.logins }}</td>
						</tr>
						<tr>
							<th>Time per Login:</th>
							<td>{{ user.time_per_login }}</td>
						</tr>
						<tr>
							<th>First Login:</th>
							<td>{{ user.first_login }}</td>
						</tr>
						<tr>
							<th>Last Login:</th>
							<td>{{ user.last_login }}</td>
						</tr>
						<tr>
							<th>Longest Session:</th>
							<td>{{ user.longest_session }}</td>
						</tr>
						<tr>
							<th>Active Days:</th>
							<td>{{ user.active_days }}</td>
						</tr>
						<tr>
							<th>Time per Day:</th>
							<td>{{ user.time_per_active_day }}</td>
						</tr>
						<tr>
							<th>Messages Sent:</th>
							<td>{{ user.messages }}</td>
						</tr>
						<tr>
							<th>Time per Message:</th>
							<td>{{ user.time_per_message }}</td>
						</tr>
						<tr>
							<th>Deaths:</th>
							<td>{{ user.death_count }}</td>
						</tr>
						{% if user.death_count > 0 %}
						<tr>
							<th>Types of Deaths:</th>
							<td>
								<table class="table table-striped table-bordered">
									<tr>
										<th>Count</th>
										<th>Type of Death</th>
									</tr>
									{% for death, count in user.death_types %}
									<tr>
										<td>{{ count }}</td>
										<td>{{ death }}</td>
									</tr>
									{% endfor %}
								</table>
							</td>
						</tr>
						{% endif %}
                        <tr>
                            <th>Rage quits:</th>
                            <td>{{ user.ragequit_count}}</td>
                        </tr>
						<tr>
							<th>Achievements:</th>
							<td>{{ user.achievement_count }} of {{ achievements_available }}</td>
						</tr>
						{% if user.achievement_count > 0 %}
						<tr>
							<th><a href="http://minecraft.gamepedia.com/Achievements">Achievements ... achieved:</th>
							<td><ul>
								{% for a in user.achievements %}
									<li>{{ a }}</li>
								{% endfor %}
							</ul></td>
						</tr>
						{% endif %}
					</table>
				</div>
				<div class="col-md-4" style="text-align: center">
					<img style="margin-top: 100px" src="http://avatars.mapcrafter.org/body/{{ user.username }}/8" />
				</div>
			</div>
			{% endfor %}
		</div>
	</body>
</html>
